.formEntryColumnTwo {
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    row-gap: 8px;
    padding: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    align-items: center;
    margin-bottom: 4px;
}

.formEntryColumnThree {
    display: grid;
    grid-template-columns: 13% 20% 13% 20% 13% 20%;
    row-gap: 8px;
    padding: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    align-items: center;
    margin-bottom: 4px;
}

.formEntryColumnFour {
    display: grid;
    grid-template-columns: 10% 15% 10% 15% 10% 15% 10% 15%;
    row-gap: 8px;
    padding: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.formCheckBox{
   width: 20px;
   height: 20PX;

}

/* 


.control-row {
  display: flex;
  gap: 16px; 
  flex-wrap: wrap;
}

.control-row label{
  width: 10%;
}
.control-row input {
   width: 12%;
}
 
.control-row .chosen_dropdown {
   width: 12%;
}

.saveCancelRow {
    display: flex; 
    padding: 16px;
    justify-content: center !important;
} */
