.navbar {
    /*  NAVIGATION BAR */

    width: 100%;
    height: 80px;
    padding: 0px 8px 0px 8px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* width: 15%; */
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.logo img {
    /* STYLE FOR LOGO IMAGE */
    height: 60px;
    width: 60px;
    border-radius: 4px;
}

.logo label {
    font-size: 25px;
    font-weight: bold;
    margin-left: 12px;
}

.menuBar {
    max-height: calc(100vh - 200px);
    min-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: var(--secondary-color);
    padding-left:8px
}

.menuListBar {
    background-color: var(--primary-color);
    width: 100%;
}

.menuListBar li,
.userPanel li {
    /* STYLE FOR MENUE BAR ITEM */
    text-decoration: none;
    list-style: none;
    color: black;
    /* padding-left: 8px; */
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1rem;
}

.dropdownMenu {
    /* STYLE FOR DROPDOWN ITEM */
    /* position: absolute; */
    background:var(--secondary-color);
    /* margin-top: 1px;
    margin-bottom: 1px; */
    padding-bottom: 2px;
    /* color:black; */
    /* height:30px; */
    /* margin-right: 4px; */
    /* font-weight: bold; */
    /* padding-top:10px;
    padding-bottom:10px; */
    border-bottom: 2px solid white;
}
/* .dropdownMenu ul{
    font-weight: bold;
} */
.dropdownList {
    /* STYLE FOR DROPDOWN LIST */
    display: none;
    z-index: 1;
    /* background: var(--primary-color); */
    padding-top: 2px;
    padding-left: 8px;
    font-weight: normal;
}

.dropdownList li {
    /* STYLE FOR MENUE LIST ITEM */
}

/* .dropdownMenu:hover .dropdownList {
    display: block;
} */

 .profilemenu:hover .profilemenusub {
    display: block;
}

.dropdownList li a {
    text-decoration: none;
    list-style: none;
    color: black;
    display: inline-block;
    font-size: .9rem;
    width: 100%;
    padding: 2px;
}

.dropdownList li a:hover {
    background-color: var(--primary-color);
    color: white;

}


.parentMenu {
    text-decoration: none;
    list-style: none;
    color: black;
    /* display: inline-block; */
}


.user {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.user-img {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.user-img img {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 8px;
}


.user-label {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: relative; */

}


.user-label li {
    font-size: 1rem;
    width: 100%;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 4px;
}



.user-label .dropdownList {
    /* STYLE FOR DROPDOWN LIST */
    width: 100px;
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    z-index: 1;
    margin-top: -59px;
}
.user-label .dropdownList li a {
color: white !important;
}
.user-label .dropdownList li a:hover {
background: var(--secondary-color);
color:black !important;
}

.hide { display: none; }
.show { display: block; }